<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63780410559-cio3id6tatp0tbhtutvgb5ufc2o55mu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63780410559-cio3id6tatp0tbhtutvgb5ufc2o55mu4</string>
	<key>API_KEY</key>
	<string>AIzaSyCBynp6i2iDCK8tuyLgN9mjqeWgtMT2aZU</string>
	<key>GCM_SENDER_ID</key>
	<string>63780410559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymlab</string>
	<key>PROJECT_ID</key>
	<string>gymlab-92972</string>
	<key>STORAGE_BUCKET</key>
	<string>gymlab-92972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63780410559:ios:8b92e7ecc6c68505ff620a</string>
</dict>
</plist>